.about-body {
    padding: 20px;
  }
  
  .about-section {
    background-color: #f7f7f7;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .section-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .section-content {
    font-size: 16px;
  }
  
  .space {
    height: 40px; /* Adjust this value for desired space */
  }
  
  .contact-title {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .contact-info {
    font-size: 16px;
  }
  